# GENERAL
build
*.log
#IDEA
.idea

#JS
*.js
*.d.ts
*.map
!jest.config.js
!webpack.config.js
!.eslintrc.js
!decs.d.ts
!.eslintignore
!vue.config.js
!custom-queries.js
node_modules
dist
bundle

#CDK
cdk.out
